@import url("https://fonts.googleapis.com/css?family=Nunito:200,600");

* {
    font-family: "Nunito", sans-serif;
    text-decoration: none!important;
}

.login-form {
    width: 65%;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 11px 68px -20px rgba(0,0,0,.75);
}

.login-form .login-btn {
    border-radius: 50px;
    width: 100%;
    box-shadow: 0 15px 28px -5px rgba(29,130,255,.45);
}

.cover {
    width: 100vw;
    height: 100px;
    background-color: #fff;
    transform: rotate(3deg);
    position: absolute!important;
    left: -122px;
    top: -77px;
    z-index: 0;
}

.course-info {
    width: 18rem; 
    position: absolute!important;
    top: -7rem;
    right: 0;
    z-index: 3;
}

.start-btn {
    padding: 15px 100px!important;
    font-weight: bolder;
}